<%- include('components/header') %>
<div class="item posts">
	<link rel="stylesheet" type="text/css" href="/css/markdown5.css">
	<link rel="stylesheet" type="text/css" href="/css/post.css">

	<div class="banner">
		<img width="100%" src="/img/ban-02.jpg" alt="">
	</div>
	<div class="container">
		<div class="bread-navs">
			<a class="bread-nav-item" href="/">首页</a>
			<span class="bread-nav-item">></span>
			<a class="bread-nav-item" href="/posts">燕窝故事</a>
			<span class="bread-nav-item">></span>
			<a class="bread-nav-item active"><%- post.title %></a>
		</div>
		
		<div class="posts-list post-list">
			<% if (success) { %>
			<div class="ui success message">
				<p><%= success %></p>
			</div>
			<% } %>
			<% if (error) { %>
			<div class="ui error message">
				<p><%= error %></p>
			</div>
			<% } %>
			<div class="post-item">
				<h2 class="post-tit"><a href="javascript:;"><%- post.title %></a></h2>
				<div class="post-content"><%- post.content %></div>
				<div class="post-sundry clearfloat">
					<div class="post-date"><%- post.date %></div>
				</div>
			</div>
		</div>
	</div>

</div>
<%- include('components/footer') %>
